.paragraph--text__top-bar {
    font-size: 18px;
    color: #000000;
    margin: 10px auto;
}

.wrapper--email__top-bar,
.wrapper--text__top-bar {
    margin-right: 40px; 
}

.wrapper--cart__top-bar {
    margin-right: 0;
}
